@*@model OnePortal.Models.ViewModels.RoomViewModel*@
@model IPagedList<OnePortal.Models.ViewModels.RoomViewModel>




@using HRM.DAL.Util;
@using OnePortal.Helper
@using OnePortal.Models.ViewModels
@using WorkFlow.DAL;
@using PagedList;




}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Make complain</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Noticeboard","Admin")">Administration</a>
            </li>
            <li>
                <a>HRM</a>
            </li>
            <li class="active">
                <a>Complain</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Complaints</h5>
                    <div class="ibox-tools">
                        <button type="button" data-toggle="modal" data-target="#complainModal" class="btn btn-primary btn-xs" id="step1">Make a Complain</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @if (ViewBag.message != null)
                        {
                            <div class="alert alert-info alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @ViewBag.message
                            </div>
                        }
                    </div>
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <form action="@Url.Action("Index","Complain")" method="get">
                            <div class="col-md-11">
                                <div class="input-group">
                                    <input type="text" placeholder="Search by Type and Priority" name="search" value="@ViewBag.search" class="input-sm form-control">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="project-list">
                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Comment</th>
                                        <th>Priority</th>
                                        <th>Date Created</th>
                                        <th>Resolution Date</th>
                                        <th>Resolved by</th>
                                        <th>Resolved</th>
                                        <th>Files</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var room in Model)
                                    {
                                    <tr>
                                        <td>@Html.ActionLink(room.RoomImage, "Update", new { Id = room.Id }, new { title = "Click to view room details" })</td>
                                        <td> <a data-toggle="modal" href="#comment_modal" data-id="@room.Description" class="openCommentDialog">@room.Description</a> </td>
                                        <td class=@(room.status == 1 ? "bg-danger" : room.status == 2 ? "bg-warning" : "bg-info")>@room.status</td>
                                        <td>@room.RoomNumber </td>
                                        <td>room.CreateDate.ToString("d")</td>
                                        <td>@room.UpdatedDate</td>
                                        @*<td>@UserHelper.GetEmployeeNameById(complain.ResolvedBy)</td>*@
                                        <td>@room.RoomCategory</td>
                                     
                                        <td>
                                            @*@if (complain.ws_complain_files.Any())
        {
            <a onclick="$('#dv_@complain.Id').toggle()">@complain.ws_complain_files.Count()</a>
            <div id="dv_@complain.Id" style="display: none">
                @foreach (var document in room.RoomImage)
                {

                    <a href="#" class="btn btn-xs btn-default " data-toggle="modal" data-target="#@document.Id">
                        <i class="fa fa-file"></i> @room.RoomImage.Count()
                    </a>*@

                                            <!-- Modal -->
                                            @*<div id="@document." class="modal fade" role="dialog">
                        <div class="modal-dialog">

                             Modal content
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">

                                    <img id="file_photo" src="~/Documents/Complain/@document.Filename" alt="Image Here" class="img-responsive" />
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                                    <a class="btn btn-default btn-default pull-left" onclick="this.href = $('#file_photo').attr('src');"
                                       download><span class="glyphicon glyphicon-export"></span>Download</a>
                                </div>
                            </div>

                        </div>
                    </div>

        </div>
                                                    }
                                                    else
                                                    {
                                                        <a href="#">@complain.ws_complain_files.Count()</a>
                                                    }
                                                </td>  }*@
<td>

                                            @*@Html.ActionLink("Delete", "Delete", "Complain", new { delete = complain.Deleted}, new { @class = "btn btn-sm btn-danger fa fa-trash" })*@
                                            <button class="btn btn-sm btn-danger" onclick="DeleteComplain(@room.Id)" type="button"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @*<div id='Paging' style="text-align: center">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount
                           @Html.PagedListPager(Model, page => Url.Action("index", new { page })
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="complainModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Make", "Complain", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Make a Complain</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Priority</label>
                        <div class="col-lg-9">
                            @Html.DropDownList("Priority", new SelectList(DProcess.GetLookup("priority"), "lookup_name", "lookup_name"), "- Please Select -", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Complain Type</label>
                        <div class="col-lg-9">
                            @Html.DropDownList("Type", new SelectList(DProcess.GetLookup("complain"), "lookup_name", "lookup_name"), "- Please Select -", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description</label>
                        <div class="col-lg-9">
                            <textarea name="Comment" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Screenshot if Any</label>
                        <div class="col-lg-9">
                            <input type="file" name="screenshot" multiple accept="image/x-png,image/gif,image/jpeg" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn_submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }
    </div>
</div>



<div class="modal inmodal " id="comment_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                Comment
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div id="comment_box"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/libs/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/libs/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/custom_fns/base.js"></script>
    <script src="~/Scripts/custom_fns/fn_leave.js"></script>
    <script>

        // $(document).on("click", ".openImageDialog", function () {
        //    $(".modal-body #file_photo").attr("src", "");
        //    var myImageId = $(this).data('id');
        //    $(".modal-body #file_photo").attr("src", "~/"+myImageId);
        //});

        $(document).on("click", ".openCommentDialog", function () {
            $(".modal-body #comment_box").text("");
            var myImageId = $(this).data('id');
            $(".modal-body #comment_box").text(myImageId);
        });


        $(document).ready(function () {

            $('#data_1 .input-group.date').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                daysOfWeekDisabled: [0, 6]
            });

        });

        function markComplainAsResolved(id) {

        }

        function DeleteComplain(id) {
            if (confirm("Are you sure you want to remove this complain?")) {
                $.ajax({
                    url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/Complain/Delete/?Id=" + id,
                    context: document.body
                }).done(function (returnVal) {
                    alert(returnVal);
                    location.reload();
                });
            }
        }
    </script>

}

@section Styles{
    <style>

        .table td.text {
            max-width: 177px;
        }

            .table td.text span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }

        .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        th {
            font-weight: bold;
            font-size: 1em;
        }

        table {
            border: 1px;
            table-layout: fixed;
        }

        .table > tbody > tr > td, .table > thead > tr > th {
            padding: 6px 10px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
        }

        .table-row {
            cursor: pointer;
        }
    </style>

    <link href="~/Content/libs/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/libs/dataTables/datatables.min.css" rel="stylesheet">
}


