@using WorkFlow.DAL.Data
@using System.Xml.Linq;
@using WorkFlow.DAL;
@{
    var workflow = (bpm_workflow)ViewBag.workflow;
    var definition = workflow.workflow;
    var form = XElement.Parse(workflow.workflow).Element("form");
}
<div class="form-group">
    <div class="table-responsive">

        <table class="table table-bordered" id="tb_items">
            <thead>
                <tr>

                    <th style="background-color:transparent">Unit</th>
                    <th style="background-color:transparent">Quantity</th>
                    <th style="background-color:transparent">Item</th>
                    <th style="background-color:transparent">Description</th>
                    <th style="background-color:transparent">Unit Cost</th>
                    <th style="background-color:transparent">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                @if (form.Element("items").Elements("item").Any())
                {
                    foreach (var item in form.Element("items").Elements("item"))
                    {
                        var unit_cost = "";
                        if (item.Element("est_unit_price") != null) 
                        {
                            unit_cost = item.Element("est_unit_price").Value;
                        }

                        <tr>
                            <td><input class="form-control number" type="text" required onpaste="return false" name="unit_@item.Attribute("id").Value" value="@item.Element("unit").Value" /></td>
                            <td><input class="form-control number" type="text" required onpaste="return false" name="quantity_@item.Attribute("id").Value" id="qty_@item.Attribute("id").Value" value="@item.Element("quantity").Value" /> </td>
                            <td><input type="text" required name="itemname_@item.Attribute("id").Value" class="form-control" value="@item.Element("itemname").Value" /></td>
                            <td><input type="text" required name="description_@item.Attribute("id").Value" class="form-control" value="@item.Element("description").Value" /></td>
                            <td><input name="est_unit_price_@item.Attribute("id").Value" onpaste="return false" required onkeyup="multiply('@item.Element("quantity").Value','@item.Element("unit").Value',this,'est_total_price_@item.Attribute("id").Value')" onchange="multiply('@item.Element("quantity").Value','@item.Element("unit").Value',this,'est_total_price_@item.Attribute("id").Value')" type="text" class="form-control" value="@unit_cost" /></td>
                            <td><input type="text" name="est_total_price_@item.Attribute("id").Value" id="est_total_price_@item.Attribute("id").Value" readonly class="form-control" /></td>

                        </tr>
                    }
                }
                <tr>
                    <td>Justification</td>
                    <td colspan="5">
                        @form.Element("justification").Value
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="form-group">
    <label>Conversion Rate</label>
    <input type="number" required class="form-control" name="conversion_rate" />
</div>


<div class="form-group">
    <label>Additional Comments</label>
    <textarea class="form-control" name="comment"></textarea>
</div>
          

                






