<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Workspace</title>

    @Styles.Render("~/Content/themecss")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
</head>
<body class="gray-bg" style="background:url('/Content/images/bg.jpg')">

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/themeplugins")


    @RenderSection("Scripts", required: false)
</body>
</html>
