@using WorkFlow.DAL.Data
@using System.Xml.Linq;
@using WorkFlow.DAL;
@{
    var workflow = (bpm_workflow)ViewBag.workflow;
    var definition = workflow.workflow;
    var form = XElement.Parse(workflow.workflow).Element("form");
    var step = (Step)ViewBag.step;
}
<div class="form-group">


    <table class="table table-bordered" id="tb_items">
        <thead>
            <tr>

                <th style="background-color:transparent">Unit</th>
                <th style="background-color:transparent">Quantity</th>
                <th style="background-color:transparent" width="20%">Item</th>
                <th style="background-color:transparent">Description</th>
                <th style="background-color:transparent">Unit Cost</th>
                <th style="background-color:transparent"><button type="button" class="btn btn-sm btn-primary" onclick="add_row('tb_items')">Add Row</button></th>
            </tr>
        </thead>
        <tbody>
            @if (form.Element("items").Elements("item").Any())
            {
                foreach (var item in form.Element("items").Elements("item"))
                {
            <tr>
                <td><input class="form-control number" type="text" required onpaste="return false" name="unit" value="@item.Element("unit").Value" /></td>
                <td><input class="form-control number" type="text" required onpaste="return false" name="quantity" value="@item.Element("quantity").Value" /></td>
                <td><input class="form-control" type="text" required name="itemname" value="@item.Element("itemname").Value" /></td>
                <td><textarea class="form-control" required name="description">@item.Element("description").Value</textarea></td>
                <td><input name="amount" value="@item.Element("amount").Value"  type="text" class="form-control number" /></td>
               
                <td><button class="btn btn-sm btn-danger" type="button" onclick="delete_row(this,'tb_items')"><i class="fa fa-trash"></i></button></td>
            </tr>
                }
            }
            else
            {
            <tr>
                <td><input class="form-control number" required type="text" name="unit" onpaste="return false" /></td>
                <td><input class="form-control number" required type="text" name="quantity" onpaste="return false" /></td>
                <td>
                    <input class="form-control" required type="text" name="itemname" />
                    @*<select id="e6" class="form-control iselect" name="itemname"></select>*@
                </td>
                <td><textarea class="form-control" required name="description"></textarea></td>
                <td><input name="amount" type="text" class="form-control number" /></td>

                <td><button class="btn btn-sm btn-danger" type="button" onclick="delete_row(this,'tb_items')"><i class="fa fa-trash"></i></button></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@{
    var justification = "";
    if (form.Element("justification") != null)
    {
        justification = form.Element("justification").Value;
    }

    var comment = "";
    if (step.Definition.Element("comments") != null)
    {
        comment = step.Definition.Element("comments").Value;
    }
}
<div class="form-group">
    <label>Justification</label>
    <textarea class="form-control" required name="justification">@justification
</textarea>
</div>


<div class="form-group">
    <label>Upload Supporting Document</label>

    <input type="file" multiple name="files" />
</div>



<div class="form-group">
    <label>Additional Comments</label>
    <textarea class="form-control" name="comment">@comment</textarea>
</div>









