@model IEnumerable<Hotel.Dal.Models.Hotel_Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5> </h5>
                    <div class="ibox-tools">
                        <div class="row">
                            @if (ViewBag.message != null)
                            {
                                <div class="alert alert-info alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    @ViewBag.message
                                </div>
                            }
                        </div>

                        <p>
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                </div>
                <div class="ibox-content">




                    <div class="row">
                        <div class="col-lg-12">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered" id="tb_employees" data-page-length='15'>
                                        <thead>

                                            <tr>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.Room_number)*@
                                                    Number
                                                </th>
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.Hotel_id)
                                                </th>*@
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.Location_id)
                                                </th>*@
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.room_type)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.room_category)
                                                </th>*@
                                             
                                                <th>
                                                    @Html.DisplayNameFor(model => model.rate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.created_date)
                                                </th>
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.updated_date)
                                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Capacity)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RoomImage1)
                                                </th>
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.RoomImage2)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RoomImage3)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RoomImage4)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RoomImage5)
                                                </th>*@
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.Room_Description)*@
                                                    Description
                                                </th>
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.max_children)
                                                </th>*@
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.max_adults)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.max_people)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.min_people)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.start_lock)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.end_lock)
                                                </th>*@
                                                @*<th>
                                                    @Html.DisplayNameFor(model => model.Hotel_promo.Promo_type)
                                                </th> *@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Hotel_Room_Type.RoomType)
                                                </th>
                                                <th></th>
                                            </tr>


                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Room_number)
                                                    </td>
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.Hotel_id)
                                                    </td>*@
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.Location_id)
                                                    </td>*@
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.room_type)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.room_category)
                                                    </td>*@
                                               
                                                    <td>
                                                       ₦@Html.DisplayFor(modelItem => item.rate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.created_date)
                                                    </td>
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.updated_date)
                                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Capacity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RoomImage1)
                                                    </td>
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.RoomImage2)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RoomImage3)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RoomImage4)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RoomImage5)
                                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Room_Description)
                                                    </td>
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.max_children)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.max_adults)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.max_people)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.min_people)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.start_lock)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.end_lock)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Hotel_promo.Promo_type)
                                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Hotel_Room_Type.RoomType)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</div>





@section scripts{
    <script src="~/Content/libs/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/custom_fns/base.js"></script>
    <script src="~/Scripts/custom_fns/fn_leave.js"></script>

    <script>
        $(document).ready(function () {
            $('#tb_employees').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'employee_list' },
                    { extend: 'pdf', title: 'employee_list' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });
    </script>
}

@section Styles{
    <style>
        .table td.text {
            max-width: 177px;
        }

            .table td.text span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }

        .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        th {
            font-weight: bold;
            font-size: 1em;
        }

        table {
            border: 1px;
            table-layout: fixed;
        }

        .table > tbody > tr > td, .table > thead > tr > th {
            padding: 6px 10px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
        }

        .table-row {
            cursor: pointer;
        }
    </style>
    <link href="~/Content/libs/dataTables/datatables.min.css" rel="stylesheet">
}

