@using HRM.DAL.Models;
@model PagedList.IPagedList<pm_project>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                <strong>Project list</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Projects</h5>
                    <div class="ibox-tools">
                        <button type="button"  data-toggle="modal" data-target="#myModal2"  class="btn btn-primary btn-xs">Create new project</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var project in Model)
                                    {
                                        <tr>
                                            <td class="project-status">
                                                <span class="label label-primary">Active</span>
                                            </td>
                                            <td class="project-title">
                                                <a href="@Url.Action("Home","Project",new { id = project.id })">@project.name</a>
                                                <br />
                                                <small>Created </small>
                                            </td>
                                            <td class="project-completion">
                                               @project.code
                                            </td>
                                            <td class="project-people">

                                                @if (project.pm_project_admin.Any())
                                                {
                                                    foreach (var admin in project.pm_project_admin)
                                                    {

                                                        string pic = "/Content/images/profile_images/" + admin.admin_hrm_employee.user_id + ".jpg";
                                                        if (!File.Exists(Server.MapPath(pic)))
                                                        { pic = "/Content/images/a4.jpg"; }

                                                        <a href=""><img alt="image" class="img-circle" src="@pic"></a>
                                                    }
                                                }
                                                
                                            </td>
                                            <td class="project-actions">
                                                <a href="@Url.Action("Home","Project",new { id = project.id })" href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                                <a href="@Url.Action("Edit","Project",new { id = project.id })" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            
                             
                            </tbody>
                        </table>

                        <div id='Paging' style="text-align:center">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("manage", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="myModal2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Manage", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Create Project</h4>

                </div>
                <div class="modal-body">


           

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name</label>

                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="name" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Code</label>

                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="code" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description</label>

                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="description" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Status</label>

                        <div class="col-lg-9">
                            <select class="form-control" name="status"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            <label> <input type="checkbox" name="repeats" class="i-checks" /> Timesheet Only </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Project Admin</label>

                        <div class="col-lg-9">
                            <select id="e6" name="employee" multiple></select>
                            <span class="help-block m-b-none">Select person</span>
                        </div>
                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn_submit"  class="btn btn-primary">Submit</button>
                </div>
            </div>

        }
    </div>
</div>



@section scripts{

    <script src="~/Content/libs/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/custom_fns/base.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>

       $(document).ready(function () {


           $('.i-checks').iCheck({
               checkboxClass: 'icheckbox_square-green',
               radioClass: 'iradio_square-green'
           });

           $('#e6').select2({
               placeholder: 'Search...',
               dropdownParent: $("#myModal2"),
               ajax: {
                   url: function (params) {
                       return baseUrl() + "employeeapi/getsearch/"+ params.term;
                   },
                   dataType: 'json',
                   quietMillis: 100,

                   processResults: function (data) {
                       return {
                           results: $.map(data, function (obj) {
                               return { id: obj.id, text: obj.name };
                           })
                       };
                   }

               }
           });


       });


    </script>
}



@section styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/libs/iCheck/custom.css" rel="stylesheet" />

    <style>
        .select2-close-mask {
            z-index: 2099;
        }

        .select2-dropdown {
            z-index: 3051;
        }

        .select2 {
            width: 100% !important;
        }
    </style>

}
