@using WorkFlow.DAL.Data;
@using PagedList.Mvc;
@using HRM.DAL.Util;
@using WorkFlow.DAL;
@model PagedList.IPagedList<bpm_workflow>
@using PagedList.Mvc;
@{
    ViewBag.Title = "PaymentVoucher";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>My Requests</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Noticeboard","Admin")">Administration</a>
            </li>
            <li class="active">
                <strong>Requests</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>All Requests</h5>
                    @*<div class="ibox-tools">
                            <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-primary btn-xs">Make a Request</button>
                        </div>*@
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">
                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Process</th>
                                        <th>Project</th>
                                        <th>Completion</th>
                                        <th>Status</th>
                                        <th>Date created</th>
                                        <th>My Action Required</th>
                                        @if (User.IsInRole("procurement"))
                                        {
                                            <th>Documents</th>
                                        }
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.Any())
                                    {
                                        foreach (var workflow in Model)
                                        {
                                            //string style = "";
                                            //string action_required = "No";
                                            //if (workflow.pending == 1)
                                            //{
                                            //    action_required = "Yes";
                                            //    style = "background-color: lavenderblush;";
                                            //}
                                            <tr>
                                                <td>@workflow.id.ToString().Substring(0, 5)</td>
                                                <td><strong><a href="@Url.Action("Step","Workflow",new { id = workflow.id })">@workflow.title</a> </strong></td>
                                                <td>@workflow.bpm_process.process_name</td>
                                                <td>@workflow.pm_project.name</td>
                                                <td>
                                                    <div class="progress progress-striped active m-b-sm">
                                                        <div style="width: @Util.GetWorkflowPercentage(workflow.workflow)%;" class="progress-bar"></div>
                                                    </div>
                                                </td>
                                                <td>@workflow.ws_lookup.lookup_name</td>
                                                <td>@workflow.created_at.ToString("dd MMM, yyyy HH:mm tt")</td>
                                                <td></td>
                                                @if (User.IsInRole("procurement"))
                                                {
                                                    var documents = workflow.bpm_workflow_document;
                                                    <td>
                                                        @if (documents.Any())
                                                        {
                                                            foreach (var document in documents)
                                                            {
                                                                <a href="@Url.Action("Document","Workflow",new { id = document.id })" class="btn btn-xs btn-default"><i class="fa fa-file"></i> @document.name</a>
                                                            }
                                                        }
                                                    </td>
                                                }
                                                <td>
                                                    <a href="@Url.Action("Discard","Workflow",new {id=workflow.id})" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div id='Paging' style="text-align:center">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("wrequest", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="myModal2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("MyRequest", "Workflow", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Make a Request</h4>

                </div>
                <div class="modal-body">




                    <div class="form-group">
                        <label class="col-lg-3 control-label">Title</label>

                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="title" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Request Type</label>

                        <div class="col-lg-9">
                            @Html.DropDownList("process_id", new SelectList(Util.GetProcesses(), "id", "process_name", null), null, new { @class = string.Format("form-control") })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Project</label>

                        <div class="col-lg-9">
                            @Html.DropDownList("project_id", new SelectList(OptionUtil.GetProjects(), "id", "name", null), null, new { @class = string.Format("form-control") })
                        </div>
                    </div>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn_submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        }
    </div>
</div>



@section scripts{

    <script src="~/Content/libs/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/custom_fns/base.js"></script>

    <script>

        $(document).ready(function () {


            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });



        });


    </script>
}



@section styles{
    <link href="~/Content/libs/iCheck/custom.css" rel="stylesheet" />



}



