@using HRM.DAL.Models;
@{
    ViewBag.Title = "Employee";
    var suggestion = (admin_hrm_suggestion)ViewBag.suggestion;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Suggestion detail</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Noticeboard","Admin")">Administration</a>
            </li>
            <li>
                <a>HRM</a>
            </li>
            <li>
                <a>Suggestion</a>
            </li>
            <li class="active">
                <strong>Suggestion Box</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>




<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <form action="@Url.Action("Update","Suggestion")" method="post" data-parsley-validate>

                    <div class="ibox-title">
                        <h5>Suggestion Details </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            @if (ViewBag.message != null)
                            {
                                <div class="alert alert-info alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    @ViewBag.message
                                </div>
                            }
                        </div>
                       
                       <div style="margin-top: 10px;">
                       
                        <div class="col-lg-6">
                            <div class="form-group" id="">
                                <label class="font-noraml">Date created</label>
                                <input id="Createdate" value="@suggestion.date" required type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="font-noraml">Title</label>
                                <input type="text" required value="@suggestion.title" class="form-control" readonly>
                            </div>
                        </div>
                       
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Complaint:</label>
                                <textarea name="Comment" rows="10" class="form-control" readonly>@suggestion.comment</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <div class="row">
                            <div class="col-lg-12 ">
                                @*<div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Return to home</button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/libs/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/libs/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/custom_fns/base.js"></script>
    <script src="~/Scripts/custom_fns/fn_leave.js"></script>
    <script>

        $(document).ready(function () {

            $('#data_1 .input-group.date').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                daysOfWeekDisabled: [0, 6]
            });
        });
    </script>
}

@section Styles{

    <link href="~/Content/libs/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/libs/dataTables/datatables.min.css" rel="stylesheet">
}


