
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_BricksLayout.cshtml";
    var room = ViewBag.Room;
    var checkindate = ViewBag.checkinDate;
    var checkoutdate = ViewBag.checkoutDate;
    var room_id = ViewBag.Room_id;
}

<div class="k2t-body">
    <div class="k2t-title-bar">
        <div class="container k2t-wrap">
            <h1 class="main-title k2t-cf7-title" style="font-size:36px;color:#283c5a;">
                Booking Room
            </h1>
        </div>
    </div>
    <!-- .k2t-title-bar -->
    <div class="k2t-content no-sidebar k2t-confirm-content">
        <div class="container k2t-wrap">
            <main class="k2t-main page">
                <div class="page-entry">
                    <div class="k2t-reservation-confirm">
                        <div class="k2t-step-f pull-left first">
                            <div class="k2t-step-done">
                                <a> 1 </a>
                            </div>
                            <p class="k2t-p-done"> Choose Date </p>
                        </div>
                        <div class="k2t-step-s pull-left">
                            <div class="k2t-step-done">
                                <a> 2 </a>
                            </div>
                            <p class="k2t-p-done"> Choose Room </p>
                        </div>
                        <div class="k2t-step-f pull-left">
                            <div class="k2t-step-current k2t-step-done">
                                <a> 3 </a>
                            </div>
                            <p class="k2t-p-current"> Reservation </p>
                        </div>
                        <div class="k2t-step-fo pull-left last">
                            <div class="k2t-next-step k2t-step-done">
                                <a> 4 </a>
                            </div>
                            <p class="k2t-p-next"> Confirmation </p>
                        </div>
                    </div>

                    <div class="k2t-step3-confirm w100 pull-left">
                        <div class="k2t-field-info k2t-info-user pull-left">
                            <p class="k2t-title-grfield"> Your Information </p>

                            @using (Html.BeginForm("ConfirmReservation", "HotelGuestBooking", FormMethod.Post))
                            {
                       
                                            @*<input type="text" name="checkindate" hidden />
            <input type="text" name="checkindate" hidden />*@



                        <div class="k2t-gr1-field pull-left">
                            <div class="div-border" hidden>
                                <input type="text" value="@room_id" name="Room_id" hidden />
                            </div>
                                <div class="div-border" hidden>
                                    <input @*type="date"*@ type="text" value="@checkindate" name="reservation_checking_date" hidden />
                                </div>
                                <div class="div-border" hidden>
                                    <input @*type="date"*@ type="text" value="@checkoutdate" name="reservation_checkout_date" hidden />
                                </div>
                                <div class="div-border" hidden>
                                    <input type="text" value="@room.rate" name="Rate" hidden />
                                </div>
                                <div class="div-border" hidden>
                                    <input type="text" value="@room.room_type" name="room_type" hidden />
                                </div>
                                <div class="div-border" hidden>
                                    <input type="text" name="PaymentStatus" value="" hidden />
                                </div>

                                <div class="div-border">
                                    <input type="email" name="Email" placeholder="Email*" />
                                </div>

                                <div class="div-border">
                                    <input type="text" name="Firstname" placeholder="First Name*" />
                                </div>

                                <div class="div-border">
                                    <input type="text" name="Address" placeholder="Address" />
                                </div>
                                <div class="div-border">
                                    <input type="text" name="Nextofkinfullname" placeholder="Next of kin Fullname" />
                                </div>
                            </div>
                            <div class="k2t-gr2-field pull-right">

                                <div class="div-border">
                                    <input type="password" name="Password" placeholder="Password" />
                                </div>
                                <div class="div-border">
                                    @*<input type="text" class="form-control" placeholder="Last name">*@

                                    <input type="text" name="Lastname" placeholder="Last Name*" />
                                </div>


                                <div class="div-border">
                                    <input type="text" name="Phone" placeholder="Phone*" />
                                </div>
                                <div class="div-border">
                                    <input type="text" name="NextofkinPhone" placeholder="Next of kin Phone*" />
                                </div>
                                @*<div class="div-border">
                <input type="text" placeholder="Coupon Code" />
            </div>*@
                            </div>
                            <div class="div-border">
                                <textarea name="reservation_comment" placeholder="Special Requirements"></textarea>
                            </div>
                            <div class="k2t-field-button pull-left w100">
                                <a href="@Url.Action("ConfirmReservation", "HotelGuestBooking")" class="pull-left w100 k2t-pay-now"> Pay now and complete booking </a>

                            </div>



                            <div class="k2t-field-button pull-left w100">
                                <a class="pull-left k2t-field-backstep" href="@Url.Action("ChooseRoom", "HotelGuestBooking")">
                                    <i class="zmdi zmdi-long-arrow-left"></i> &nbsp; Back Step
                                </a>
                                @*<a class="pull-right k2t-field-booknow" type="submit"  href="javascript:void(0)">Pay on Arrival</a>*@
                                <button type="submit" class="pull-right k2t-field-booknow" style="height: 52px">Pay on Arrival</button>
                            </div>
                            }
                            <div class="k2t-field-button pull-left  w100">
                                @*<a class="pull-left k2t-field-backstep" href="@Url.Action("ChooseRoom", "HotelGuestBooking")">
                <i class="zmdi zmdi-long-arrow-left"></i> &nbsp; Make reservation and pay on arrival
            </a>*@
                                @*<a href="@Url.Action("ConfirmReservation", "HotelGuestBooking")" class="pull-left w100 k2t-pay-now"> Make reservation and pay on arrival </a>*@
                                @*<a class="pull-right k2t-field-booknow" href="javascript:void(0)">Make reservation and pay on arrival</a>*@
                            </div>
                            <p class="k2t-title-grfield w100 pull-left"> You can pay with the listed payment method  </p>
                            <div class="w100 pull-left k2t-payment">
                                <a href="javascript:void(0)" class="col-4">
                                    <img src="../Bricks/images/upload/paypal.png" alt="paypal" />
                                </a>
                                @*<a href="javascript:void(0)" class="col-3">
                <img src="../Bricks/images/upload/payoneer.png" alt="Bank transfer" />
            </a>*@
                                <a href="javascript:void(0)" class="col-4">
                                    <img src="../Bricks/images/upload/visa.png" alt="visa" />
                                </a>
                                <a href="javascript:void(0)" class="col-4">
                                    <img src="../Bricks/images/upload/mastercard.png" alt="mastercard" />
                                </a>
                            </div>
                            @*<a href="@Url.Action("ConfirmReservation", "HotelGuestBooking")" class="pull-left w100 k2t-pay-now"> Pay Now </a>*@
                        </div>

                                        @*@foreach (var details in room)
        {*@
                                        <div class="k2t-branch-confirm k2t-step3-right pull-right">
                                            <p class="title-confirm">Your Reservation</p>
                                            <p class="sub-title-confirm">Please check your information again!</p>
                                            <div class="k2t-entry-cr">
                                                <p class="k2t-title-col"> Abuja Branch </p>
                                                <p class="k2t-confirm-p">
                                                    <span class="k2t-col-f"> Check In: </span>
                                                    <span class="k2t-col-s"> @ViewBag.checkinDate   </span>
                                                </p>
                                                <p class="k2t-confirm-p">
                                                    <span class="k2t-col-f"> Check Out: </span>
                                                    <span class="k2t-col-s"> @ViewBag.checkoutDate </span>
                                                </p>
                                                <p class="k2t-confirm-p">
                                                    <span class="k2t-col-f">Room Type: </span>
                                                    <span class="k2t-col-s"> @room.room_type </span>
                                                </p>
                                                <p class="k2t-confirm-p">
                                                    <span class="k2t-col-f">Max Adult:  </span>
                                                    <span class="k2t-col-s"> @room.max_adults</span>
                                                </p>
                                                <p class="k2t-confirm-p">
                                                    <span class="k2t-col-f"> Max Children: </span>
                                                    <span class="k2t-col-s"> @room.max_children </span>
                                                </p>
                                            </div>
                                            <div class="k2t-entry-cr k2t-entry-sub">
                                                @*<p class="k2t-confirm-p k2t-total">
                    <span class="k2t-col-total"> Total </span>
                    <span class="k2t-col-price k2t-col-s"> ₦@details.rate </span>
                </p>*@
                                                <p class="k2t-confirm-p k2t-vat">
                                                    <span class="k2t-col-vat">7.5% VAT INCLUSIVE</span>
                                                    @*<span class="k2t-col-pvat k2t-col-s"> 7.5%</span>*@
                                                </p>
                                            </div>
                                            <p class="k2t-confirm-p kt2-grand">
                                                <span class="k2t-grand-total"> Grand Total </span>
                                                <span class="k2t-col-s"> ₦@room.rate  </span>
                                            </p>
                                            <div class="pull-left w100" style="padding:0 23%; margin-top:50px">
                                                <a href="javascript:void(0)" class="k2t-btn-editbooking w100 pull-left">Edit Booking</a>
                                            </div>
                                        </div>
                                        @*}*@
                                    </div>

                </div>
            </main>
        </div>
    </div>
</div>