
@{
    ViewBag.Title = "RoomGallery";
    Layout = "~/Views/Shared/_BricksLayout.cshtml";
}


<div class="k2t-body">
    <div class="k2t-content no-sidebar k2t-room-listing k2t-room-style3">
        <div class="container k2t-wrap">
            <!-- Main -->
            <main class="k2t-main-gallery page">
                <article id="post-2112" class="post-2112 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class=" box-sizing: border-box;">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1440734955352">
                                <div class="wpb_wrapper">
                                    <div class="k2t-heading-inner">
                                        <div class="text">
                                            <h2 class="h">
                                                <span>Rooms listing mix grid</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="w100 pull-left k2t-bg-title">
                                        <img width="70" height="10" src="../Bricks/images/upload/bg-title-bar.png" class="vc_single_image-img attachment-thumbnail" alt="bg-title-bar" />
                                    </div>
                                    <div class="sub-title-room pull-left w100">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="@Url.Action("RoomGallery", "HotelGuestBooking")" title="King Suite Room">
                                                                    <img width="1603" height="770" src="../Bricks/images/upload/tower.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">$&nbsp;2,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="King Suite Room">
                                                                            King Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="single-room-gallery.html" title="King Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="@Url.Action("RoomGallery", "HotelGuestBooking")" title="Queen Suite Room">
                                                                    <img width="370" height="370" src="../Bricks/images/upload/img32.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Queen Suite Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">$&nbsp;1,750</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="Queen Suite Room">
                                                                            Queen Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="single-room-gallery.html" title="Queen Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="@Url.Action("RoomGallery", "HotelGuestBooking")" title="Royal Single Room">
                                                                    <img width="370" height="370" src="../Bricks/images/upload/bricks9.png" class="attachment-thumb_370x370 wp-post-image" alt="Royal Single Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">$&nbsp;2,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="Royal Single Room">
                                                                            Royal Single Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="single-room-gallery.html" title="Royal Single Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="@Url.Action("RoomGallery", "HotelGuestBooking")" title="King Suite Room">
                                                                    <img width="770" height="370" src="../Bricks/images/upload/room3.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Queen Suite Room " />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">$&nbsp;3,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="King Suite Room">
                                                                            Queen Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="single-room-gallery.html" title="Queen Suite Room ">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="@Url.Action("RoomGallery", "HotelGuestBooking")" title="King Suite Room">
                                                                    <img width="770" height="370" src="../Bricks/images/upload/room1.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Workshop: GCSE Japanese Culture" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">$&nbsp;1,350</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="King Suite Room">
                                                                            King Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="single-room-gallery.html" title="Workshop: GCSE Japanese Culture 8">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="wpb_wrapper">
                                                <div class="event-listing-classic ">
                                                    <div class="group"></div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="@Url.Action("RoomGallery", "HotelGuestBooking")" title="Royal Single Room">
                                                                    <img width="370" height="370" src="../Bricks/images/upload/room2.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Royal Single Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">$&nbsp;750</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="Royal Single Room">
                                                                            Royal Single Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="single-room-gallery.html" title="Royal Single Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .page-entry -->
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </main>
            <!-- Sidebar -->
        </div>
        <div class="k2t-booking-form pull-left w100">
            <div class="container k2t-wrap">
                <div class="k2t-main page">
                    <div class="pull-left k2t-cal-colf">
                        <span class="pull-left relative k2t-step1-input">
                            <input class="k2t-select-checkin pull-left w100 gldp-el" placeholder="Check In">
                        </span>
                        <span class="pull-right relative k2t-step1-input">
                            <input class="k2t-select-checkout pull-left w100 gldp-el" placeholder="Check Out">
                        </span>
                    </div>
                    <div class="pull-right k2t-cal-cols">
                        <span class="relative pull-left k2t-step1-span">
                            <select class="k2t-step1-select pull-left w100 relative">
                                <option>Room</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </span>
                        <div class="pull-left k2t-select-people">
                            <span class="relative w100 pull-left k2t-step1-span">
                                <select class="k2t-step1-select pull-left w100">
                                    <option>1 Guest</option>
                                    <option>2 Guest</option>
                                    <option>3 Guest</option>
                                    <option>4 Guest</option>
                                    <option>5 Guest</option>
                                    <option>6 Guest</option>
                                </select>
                            </span>
                        </div>
                        <a href="@Url.Action("Reservation", "HotelGuestBooking")" class="k2t-btn-editbooking pull-right">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- k2t-booking form -->
    </div>
    <!-- .k2t-content -->
</div>