
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_BricksLayout.cshtml";
}

<div class="k2t-body">
    <div class="k2t-content no-sidebar k2t-room-listing k2t-room-style2">
        <div class="container k2t-wrap">
            <!-- Main -->
            <main class="k2t-main page">
                <article id="post-1868" class="post-1868 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1440555998714"
                             style="box-sizing: border-box;">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1440555859553">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="wpb_wrapper">
                                                <div id="uTXY49SViN" class="k2t-heading align-center no-img no-border no-subtitle h2 two_dots">
                                                    <div class="k2t-heading-inner">
                                                        <div class="text">
                                                            <h2 class="h">
                                                                <span>Rooms listing</span>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w100 pull-left k2t-bg-title">
                                                    <img width="70" height="10" src="../Bricks/images/upload/bg-title-bar.png" class="vc_single_image-img attachment-thumbnail" alt="bg-title-bar">
                                                </div>
                                                <div class="sub-title-room pull-left w100">
                                                    List of our five star standard rooms
                                                </div>
                                                <div class="event-listing-classic columns-3">
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="#" title="Workshop: Delux standard room">
                                                                    <img width="1200" height="1200" src="../Bricks/images/upload/room1.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">₦&nbsp;100,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="King Suite Room">
                                                                            King Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="@Url.Action("RoomSingle", "HotelGuestBooking")" title="King Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="single-room-gallery.html" title="King Suite Room">
                                                                    <img width="1200" height="1200" src="../Bricks/images/upload/room2.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">₦&nbsp;100,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="Queen Suite Room">
                                                                            Queen Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="@Url.Action("RoomSingle", "HotelGuestBooking")" title="Queen Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="single-room-gallery.html" title="Royal Single Room">
                                                                    <img width="1200" height="1200" src="../Bricks/images/upload/room3.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Royal Suite Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">₦&nbsp;100,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-galley.html" title="Royal Suite Room">
                                                                            Royal Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="@Url.Action("RoomSingle", "HotelGuestBooking")" title="Royal Suite Room ">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="single-room-gallery.html" title="King Suite Room">
                                                                    <img width="1200" height="1200" src="../Bricks/images/upload/room7.jpg" class="attachment-thumb_370x370 wp-post-image" alt="King Suite Room" />
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">₦&nbsp;100,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="King Suite Room">
                                                                            King Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="@Url.Action("RoomSingle", "HotelGuestBooking")" title="King Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="single-room-gallery.html" title="Queen Suite Room">
                                                                    <img width="1200" height="1200" src="../Bricks/images/upload/room8.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Queen Suite Room">
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">₦&nbsp;100,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="Queen Suite Room">
                                                                            Queen Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="@Url.Action("RoomSingle", "HotelGuestBooking")" title="Queen Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="group">
                                                        <div class="event-classic-item">
                                                            <div class="inner-post">
                                                                <a href="single-room-gallery.html" title="Royal Suite Room">
                                                                    <img width="1200" height="1200" src="../Bricks/images/upload/room9.jpg" class="attachment-thumb_370x370 wp-post-image" alt="Royal Suite Room">
                                                                </a>
                                                                <div class="light-box">
                                                                </div>
                                                                <div class="info-classic">
                                                                    <div class="product-price">
                                                                        <span class="price">
                                                                            <span class="amount">₦&nbsp;100,000</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="title">
                                                                        <a href="single-room-gallery.html" title="Royal Suite Room">
                                                                            Royal Suite Room
                                                                        </a>
                                                                    </div>
                                                                    <div class="classic-read-more">
                                                                        <a href="@Url.Action("RoomSingle", "HotelGuestBooking")" title="Royal Suite Room">
                                                                            Detail
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .page-entry -->
                            </div>
                        </div>
                    </div>
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </main>
            <!-- Sidebar -->
        </div>
        <div class="k2t-booking-form pull-left w100">
            <div class="container k2t-wrap">
                <div class="k2t-main page">
                    <div class="pull-left k2t-cal-colf">
                        <span class="pull-left relative k2t-step1-input">
                            <input class="k2t-select-checkin pull-left w100 gldp-el" placeholder="Check In">
                        </span>
                        <span class="pull-right relative k2t-step1-input">
                            <input class="k2t-select-checkout pull-left w100 gldp-el" placeholder="Check Out">
                        </span>
                    </div>
                    <div class="pull-right k2t-cal-cols">
                        <span class="relative pull-left k2t-step1-span">
                            <select class="k2t-step1-select pull-left w100 relative">
                                <option>Room</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </span>
                        <div class="pull-left k2t-select-people">
                            <span class="relative w100 pull-left k2t-step1-span">
                                <select class="k2t-step1-select pull-left w100">
                                    <option>1 Guest</option>
                                    <option>2 Guest</option>
                                    <option>3 Guest</option>
                                    <option>4 Guest</option>
                                    <option>5 Guest</option>
                                    <option>6 Guest</option>
                                </select>
                            </span>
                        </div>
                        <a href="reservation.html" class="k2t-btn-editbooking pull-right">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- k2t-booking form -->
    </div>
    <!-- .k2t-content -->
</div>